@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$succes-color : #90EE90;
$danger-color : #FF6347;
$balck-color : #000000;
$red-color : #ff0000;
$blue-color :#17a2b8;
$pink-color:#ffccff;
$transparent: transparent;